<section class="form">
    <div class="form__container container">
        <div class="form__inner">
            <div class="form__title-box">
                <div class="form__title-img-box">
                    <img src="../icons/form-title-img.svg" alt="document" class="form__title-img" />
                </div>
                <div class="form__title-wrapper">
                    <h2 class="form__title">Не нашли ответа на свой вопрос?</h2>
                    <p class="form__title-desc">Напишите нам, и мы предоставим необходимую информацию.</p>
                </div>
            </div>
            <form action="" class="form__form">
                <div class="form__input-box">
                    <label class="form__input-label">
                        <input class="form__input form__input--required form__input-name" type="text" placeholder="Имя*" />
                        <span class="form__input-error-text">Поле обязательно к заполнению</span>
                    </label>

                    <label class="form__input-label">
                        <input class="form__input form__input--required form__input-tel" type="tel" placeholder="Телефон*" />
                        <span class="form__input-error-text">Поле обязательно к заполнению</span>
                    </label>

                    <label class="form__input-label">
                        <input class="form__input form__input--required form__input-email" type="text" placeholder="E-mail*" />
                        <span class="form__input-error-text">Поле обязательно к заполнению</span>
                    </label>
                    <textarea class="form__input form__input-textarea" placeholder="Вопрос"></textarea>
                </div>
                <div class="form__btn-box">
                    <button class="form__submit-btn" type="submit">Задать вопрос</button>
                    <label class="form__agree-label">
                        <input class="form__agree-checkbox" type="checkbox" />
                        <span class="form__agree-squere"></span>
                        <span class="form__agree-text"
                            >Я согласен с условиями <a href="#" class="form__agree-link">пользовательского соглашения.</a></span
                        >
                    </label>
                </div>
            </form>
        </div>
    </div>
</section>
