<div class="modal">
    <div class="modal__inner">
        <button class="modal__close-btn close-btn">
            <div class="modal__close-image-box">
                <svg  viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 3L13 13M13 3L3 13" stroke="#4092F1" stroke-width="2" stroke-linecap="round" />
                  </svg>
            </div>
        </button>
        <div class="modal__content">
            <div class="modal__content-img-box">
                <img src="./images/modal-thx.svg" alt="thx" class="modal__content-img" />
            </div>
            <div class="modal__text-box">
                <p class="modal__thx-text">Спасибо!</p>
                <p class="modal__disc-text">Вопрос отправлен</p>
            </div>
            <button class="modal__send-btn close-btn">Хорошо :)</button>
        </div>
    </div>
</div>
